div{

}

body{
	padding:0 0 0 0;
}

.container{
	
}

#block0{
	height:100px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	background-color:white;
}

ul{
	text-align: right;
	padding-top:50px;
	margin: 0px 0px 70px 0px;
	color: #E36124;
	font-weight:750;
}

li{
 display: inline;
 padding: 50px 5px 20px 5px;
}

.canhide{
	display:none;
}

#block1{
	height:300px;
	padding-top: 40px;
	padding-left: 5%;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	background:url('../images/bus-small.png') no-repeat right center;
}

.orange{
	color: #E36124;
}	

#hop{
	overflow:visible;
	margin-top:-10px;
	font-size:33px;
	font-weight:800;
}

#title2{
	font-weight: normal;
	font-style: italic;
	font-family: georgia;
	color:gray;
	text-decoration:italic;
}

#block2{
	height:410px;
 	color:white;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
}

#special{
	background:#E36124 url('../images/fox-small.png') no-repeat right center;
	padding-bottom: 40px !important;
}

a{
	color:#E36124;
}

.paraHead{
	margin-top:50px;
	margin-bottom:20px;
	font-size:18px;
	font-weight:bold;
	font-style: none  !important;	
}

.paraText{
	font-style: italic;
	font-family: georgia;
	font-weight:normal;
	font-size: 12px !important;
	margin-bottom:40px;
}


#block3{
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	padding-top: 20px;
	background-color:#E36124;
	color:white;
	border-top: 2px solid white;
	line-height: 30px;
}

#schedule{
	font-size: 30px;
	font-weight: bold;
}


#block4{
	height:100px;
	font-family: 'georgia';
	font-style: italic;
	font-weight:normal;
	text-align:center;
	background-color:white;
	padding-top: 20px;
	background-color:#E36124;
	color:white;
	border-top: 2px solid white;
}
